h1 {
    font-family: Helvetica, sans-serif;
    
}

.container {
    background-color: rgb(7, 137, 166);
    color: aliceblue;
    text-align: center;
    padding: 25px;
    margin: 10%;
    
}
.outputveld {
    background-color:rgb(7, 137, 166);
    text-align: center;
    padding: 25px;
    margin: 10%;
}
#todoinput {
    border: none;
    padding: 10px;
    border-radius: 5px;    
}

#addbutton {
    background-color: rgb(9, 186, 226);
    color: aliceblue;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#addbutton:hover {
    background-color: rgb(3, 53, 64);
    color: aliceblue;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.task-item {
    padding: 15px;
    margin: 5px;
    background-color: aliceblue;
}